on:
  pull_request:
    branches:
      - '*'

name: Typecheck
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [13.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore dependencies
        id: cache-modules
        uses: actions/checkout@v2
        with:
          path: node_modules
          key: ${{ matrix.node-version }}-${{ runner.OS }}-build-${{ hashFiles('package.json') }}
      - name: Install dependencies
        run: npm install
      - name: Typecheck
        uses: gozala/typescript-error-reporter-action@v1.0.8
